<div class="container">
    <form #friendUpdateForm="ngForm" (ngSubmit)="saveUpdate(friendUpdateForm.value)">
        <div class="form-group">
            <label for="age">Age</label>
            <div class="input-group">
                <input id="age" type="number" class="form-control" name="age" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <div class="input-group">
                <input id="name" type="text" class="form-control" name="name" ngModel>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="submit" value="Save" class="btn btn-danger updateButton">
            </div>
        </div>
    </form>
</div>
