<h1>This Site doesn't work yet... :(</h1>
<div class="container">
    <form *ngFor="let friend of friends">
        <div class="form-group">
            <label for="age">Age</label>
            <div class="input-group">
                <input id="age" name="age" value="{{friend.age}}" type="number" class="form-control"
                    ngModel="friend.age">
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <div class="input-group">
                <input id="name" value="{{friend.name}}" name="name" type="text" class="form-control"
                    ngModel="friend.name">
            </div>
        </div>
        <button type="submit" (submit)="updatePost(friend.name)" class="btn btn-outline-primary">Update</button>
    </form>
</div>
