<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Age</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let friend of friends">
                <td>{{friend.id}}</td>
                <td>{{friend.age}}</td>
                <td>{{friend.name}}</td>
                <td><button type="button" class="btn btn-danger" (click)="deleteFriend(friend.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
